<div class="details-view">
  <h4>Title</h4>
  <%= scrivito_tag :div, @obj, :title %>
  <h4>Quote</h4>
  <%= scrivito_tag :div, @obj, :text %>
  <h4>Author</h4>
  <%= scrivito_tag :div, @obj, :author %>
  <h4>Position</h4>
  <%= scrivito_tag :div, @obj, :position %>
</div>